@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'poppins', sans-serif;
}

:root {
    background-color: #F6F5FF;
}

.btn {
    @apply rounded-xl hover:scale-[102%] duration-200 font-medium flex gap-2 flex-nowrap
}

.btn-primary {
    @apply bg-[#017AE4] hover:bg-[#015FB4] text-white font-medium border-none;
}

.btn-error {
    color: white;
}

.btn-outline {
    @apply bg-transparent border-none text-[#017AE4] hover:bg-[#017AE4]/10 hover:text-[#017AE4];
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-500;
}

.modal-box {
    @apply bg-[#F6F9FA]
}

.input, .textarea, .select {
    @apply border bg-gray-100 rounded-lg focus:outline-none focus:border-blue-500 px-5 py-2 w-full text-sm font-normal

}

label {
    @apply text-[#17194C]/75 px-0
}

h1 {
    @apply text-4xl font-semibold leading-normal
}

.shadow-smooth {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.gradient-blue {
    @apply bg-gradient-to-r from-[#017AE4] via-[#04A2E0] to-[#07C5DC]
}

.badge {
    @apply border-none
}

th {
    @apply font-medium
}


#file-upload-button {
    @apply bg-[#017AE4]
}